/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]
/sdata/dist-arch/chrome-control/extension/config.js
/sdata/dist-arch/chrome-control/node_modules/

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release
/.env
/wallpapers/

# Emacs auto backup file
*~
