[Desktop Entry]
Version=1.0
Type=Application
Name=Chrome
GenericName=Web Browser
Comment=Browse with the personal Chrome profile
Exec=/usr/bin/google-chrome-stable --profile-directory=Default %U
Icon=google-chrome
Terminal=false
StartupNotify=true
StartupWMClass=google-chrome
Categories=Network;WebBrowser;
MimeType=application/pdf;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/google-chrome-stable --profile-directory=Default

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/google-chrome-stable --profile-directory=Default --incognito
